body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    z-index: 1;
}

.headerStyle {
    color: rgb(169, 245, 239);
}

.datosPersonajes {
    margin-top: 140px;
    margin-bottom: 60px;
}